# Uncomment the following to prevent the httpoxy vulnerability
# See: https://httpoxy.org/
#<IfModule mod_headers.c>
#    RequestHeader unset Proxy
#</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on

    # Allow Installatron requests
    RewriteCond %{REQUEST_FILENAME} deleteme\.\w+\.php
    RewriteRule (.*) - [L]

    RewriteCond %{SERVER_PORT} 80
    RewriteCond %{HTTP_HOST} ^(www\.)?rkosir\.eu/FeeCollector/
    RewriteRule ^(.*)$ https://www.rkosir.eu/FeeCollector/$1 [R,L]
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    RewriteBase /FeeCollector
    RewriteRule    ^(\.well-known/.*)$ $1 [L]
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]


</IfModule>
