html,body{max-width: 100%;width: 100%;background-color: #51514F;height: 100%; color: white;}
.navbar {background-color: #FF8C47;}
.login {background-color: #51514F; max-width: 100%;width: 100%; height: 100%;}
.login label,.login p{color: white;}
label {color: white;}
.login a {color: white}
.login a:hover{color: white}
button {cursor: pointer;}
.error-message{color: #ffc107;}
.center {display: block;margin-left: auto;margin-right: auto;}
.login_button{border-radius: 1.5em;background-color: #FD8E3D;width: 100%;border-color:#FD8E3D;}
.login_button:hover, .login_button:active{background-color: #FD8E3D;border-color: #FD8E3D;}
.margin-top {margin-top: 12rem;}
.center-align {text-align: center;}
.btn-success:focus{box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {background-color: #FD8E3D;border-color: #FD8E3D;}
.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);}
.table{table-layout: auto;}
.card {color: black;}
#map {height: 200px;width: 100%;}
.card_user_name {text-align: center;}
.paid{color: #00FF00}
.not_paid{color: red}
.hidden {display: none;}
.small {font-size: 12px;}
.link-color {background-color: #b32017; border-color: #b32017;}
.link-color:hover {background-color: #b32017; border-color: #b32017;}
/*datepicker modification*/
.bootstrap-datetimepicker-widget{ight: auto !important;left: 0px !important;}
.datepicker .input{width: 100%;}
.datepicker .input-group {flex-wrap: unset;}
.datepicker input[readonly] {background-color: white;}
.datepicker .bootstrap-datetimepicker-widget.dropdown-menu {width: 70%;}
.fc-content-skeleton {font-size: 12px;}
.modal-content{color: black;}
.fc-today {background-color: #907272;color: white;}
.table-striped {color: white}




